<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/main.css"/>
        {% block head %}{% endblock %}
        {# {% include "_favicons.njk" %} #}
        {# <script defer src="/js/lazysizes.min.js"></script> #}
        <script async defer data-domain="sciolyid.org" src="https://plausible.io/js/plausible.js"></script>
    </head>
    <body class="texture">
        {% include "_nav.njk" %}
        <header>
            {% block header %}{% endblock %}
        </header>

        <div class="min-h-80">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </div>

        <footer class="text-gray-200 bg-indigo-900">
            {% block footer %}{% endblock %}
            <div class="pt-4 pb-2">
                <ol class="flex flex-wrap items-center justify-center w-full px-6 py-3 text-xl text-white text-bold">
                    <li class="mx-4 hover:underline">
                        <a href="/source/">Open Source</a>
                    </li>
                    <li class="mx-4 hover:underline">
                        <a href="/discord/">Discord</a>
                    </li>
                    <li class="mx-4 hover:underline">
                        <a href="/minerobo/attribution/">Attribution</a>
                    </li>
                </ol>
            </div>
            <div class="flex items-center justify-center w-full pt-4 pb-8">
                <p>SciOlyID</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 980 980" class="inline-block w-4 h-4 mx-2 fill-current"><circle cx="490" cy="490" r="440" fill="none" stroke="#fff" stroke-width="100"/><path d="M219,428H350a150,150 0 1 1 0,125H219a275,275 0 1 0 0-125z"/></svg>
                <p>2020-{{ datetime.year }}</p>
            </div>
        </footer>
        <script defer src="/js/global{{ '.min' if environment.prod else '' }}.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>