{% extends "layouts/base.njk" %}

{% block head %}
    <title>SciOlyID</title>
    <meta name="description" content="Discord bots for Science Olympiad ID events.">
{% endblock %}

{% block header %}
    <div class="mt-4">
        <h1 class="px-5 mx-auto mt-8 mb-6 text-4xl font-semibold text-center">SciOlyID: Discord Bots for Young Scientists</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container max-w-4xl px-5 py-4 mx-auto bg-white sm:px-8">
        <p class="mb-8 text-3xl text-center">Hello! Welcome to SciOly-ID.</p>
        <p class="mb-8 text-xl">Help us improve the quality of bot images by seeing what items are missing images and uploading more, or verifying images that others have uploaded.</p>
        <div class="w-full grid-flow-row grid-cols-2 mb-16 sm:grid">
            <img class="grid col-span-1 mx-auto mb-2 rounded-md sm:mb-0 sm:rounded-none" src="/icons/illustrations/dino.jpg" alt="an drawing of a dinosaur">
            <img class="grid col-span-1 mx-auto mb-2 rounded-md sm:mb-0 sm:rounded-none" src="/icons/illustrations/pigeon.jpg" alt="an image of a pigeon">
            <img class="grid col-span-2 mx-auto mb-2 rounded-md sm:mb-0 sm:rounded-none" src="/icons/illustrations/stars.jpg" alt="an image of the andromeda galaxy">
        </div>
        <p class="mb-8 text-2xl italic font-bold text-center">Happy Identification!</p>
    </div>
{% endblock %}