{% extends "layouts/base.njk" %}

{% block head %}
    <title>Navigation Menu | SciOlyID</title>
{% endblock %}

{% block header %}
    <div class="mt-4">
        <h1 class="px-5 mx-auto mt-8 mb-6 text-4xl font-semibold text-center">Navigation Menu</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container max-w-2xl px-5 py-4 mx-auto bg-white sm:px-8">
        <ul class="flex flex-col ml-4 text-xl text-gray-800">
            {% for item in info %}
                <li class="pl-3 mb-3 text-2xl font-medium">{{ item.name }}
                    <svg class="inline w-5 h-5 ml-2 text-indigo-700 fill-current chevron-align" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                    <ul class="block mb-4 ml-6 text-xl font-normal list-disc list-inside">
                        <li>
                            <a class="underline" href="/{{ item.id }}/upload/">Upload Images</a>
                        </li>
                        <li>
                            <a class="underline" href="/{{ item.id }}/verify/">Verify Images</a>
                        </li>
                        <li>
                            <a class="underline" href="/{{ item.id }}/count/">Image Counts</a>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <img src="/icons/illustrations/navigation.svg" class="w-4/5 mx-auto mt-16 mb-8 rounded sm:w-3/4 md:w-2/3">
    </div>
{% endblock %}